.profileUsersPage{
    background-color: aliceblue;
    
}
.userPhoto{
width: 80px;
}
.followButton{
    background-color: aqua;
display: flex;
margin: 0px;
padding: 0px;
padding: 0px;
width: 80px;
height: 20px;
}
.followButton:hover{
display: flex;
margin: 0px;
padding: 0px;
width: 80px;
height: 20px;
}
.numbersOfPage{
display: flex;
text-align: center;
justify-content: center;

}
.numbersOfPage span{
margin-right: 10px;
}
.selectedPage{
    font-weight: bold;
    color: black;
}
