.profileUsersPage{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.userPhoto{
width: 80px;
}
.followButton {
background-color: aqua;
width: 80px;
height: 20px;
margin-bottom: 20px;
}
/* .followButton:hover{
display: flex;
margin: 0px;
padding: 0px;
width: 80px;
height: 20px;
} */
.numbersOfPage{
display: flex;

text-align: center;
justify-content: center;

}
.numbersOfPage span{
margin-right: 10px;
}
.selectedPage{
    font-weight: bold;
    color: black;
}

.nonSelectedPage{
    color: red;
}

.userItem{
    display: flex;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;

}
.userItem img{
    border-radius: 50%;
    
}
.textData {
    margin-left: 15px;
}
.location{
    margin-top: 5px;
display: flex;
flex-direction: column;
}
