@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.dialogs {
    display: flex;
    justify-content: center;
    min-height: 100px;
    background-color: aliceblue;
    gap: 5px;

}

.users {
    display: flex;
    background-color: lightgray;
    width: 30%;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;

}

.users .items {
    display: flex;
    /*padding:40px 0px 5px 20px;*/
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    text-decoration: none;
}
.users a{
    text-decoration: none;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.users span {
    border-bottom: 1px solid black;
}

.users .items:hover {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 35%;
    background-color: #A8ADD3;
}

.chats {
    display: flex;
    background-color: lightgray;
    width: 70%;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding-left: 20px;
}


/*.chats {*/
/*    display: flex;*/
/*    background-color: lightgray;*/
/*    width: 70%;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/

/*}*/

.chats span {
    border-bottom: 1px solid black;
}
.chats .dialog {
    display: flex;
    /*padding:40px 0px 5px 20px;*/
    height: 40px;
    align-items: center;
    justify-content: start;
    margin: 2px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
.chats .dialog:hover {
    display: flex;
    /*padding:40px 0px 5px 20px;*/
    height: 40px;
    align-items: center;
    justify-content: start;
    margin: 2px;
    background-color: #61dafb;
}
.item img{
    width: 40px;
    height: 40px;
    border: none;
}
@media (prefers-reduced-motion: no-preference) {
    .item img{
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.item .items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 35%;

}